<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.vincenttp.dynamic_feature">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_dynamic_feature">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainDynamicActivity"/>
    </application>

</manifest>